
<h1>Graficos para UFs</h1>
<form action="/clp/ufsCharts" method="get">
  A単o inicio: <input type="month" name="startMonth"><br>
  A単o fin: <input type="month" name="endMonth"><br>
  <input type="submit" value="Consultar">
</form>

<h1>Graficos para Dolaress</h1>
<form action="/clp/dolarCharts" method="get">
  A単o inicio: <input type="month" name="startMonth"><br>
  A単o fin: <input type="month" name="endMonth"><br>
  <input type="submit" value="Consultar">
</form>