<div class="container">
  <h1>Graficos para UFs</h1>
  <form action="/clp/ufsCharts" method="get">
    Año inicio: <input type="month" name="startMonth"><br>
    Año fin: <input type="month" name="endMonth"><br>
    <input type="submit" value="Consultar">
  </form>

  <h1>Graficos para Dolaress</h1>
  <form action="/clp/dolarCharts" method="get">
    Año inicio: <input type="month" name="startMonth"><br>
    Año fin: <input type="month" name="endMonth"><br>
    <input type="submit" value="Consultar">
  </form>

  <h1>Graficos para TMCs</h1>
  <form action="/tmc" method="get">
    Año inicio: <input type="month" name="startMonth"><br>
    Año fin: <input type="month" name="endMonth"><br>
    <input type="submit" value="Consultar">
  </form>
</div>