<nav class="navbar fixed-top ">
  <a class="navbar-brand" href="#">Juan Rabanillo</a>
  <a class="nav-item nav-link <%= 'active' if params[:action] == 'index'%>" href="<%= root_path %>">Index <span class="sr-only">(current)</span></a>
</nav>